.primary
.primary-light
.primary-dark

.accent
.accent-light
.accent-dark

.success{color: #00ff00;}
.success-light
.sucess.dark

.warning{color: #cc6600}
.warning-light
.warning-dark

.danger{color: red;}
.danger-light
.danger-dark

.info{color: #0000ff;}
.info-light
.info-dark

.inactive{color: grey;}
.background-primary
-background-secondary



.info-bg{
    background-color: #0000ff
}