.primary{color: #99ccff;}
.primary-light{color: #cce6ff;}
.primary-dark{color: #3399ff;}

.primary-bg{background-color: #99ccff;}
.primary-bg-light{background-color: #cce6ff;}
.primary-bg-dark{background-color: #3399ff;}

.secondary{color:#d1d1e0;}
.secondary-light{color:#f0f0f5;}
.secondary-dark{color:#a3a3c2;}

.secondary-bg{background-color: #d1d1e0;}
.secondary-bg-light{background-color:#f0f0f5;}
.secondary-bg-dark{background-color: #a3a3a3;}
