
/*
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.flex-container2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}


--flex-item--

.flex-item{
    padding: 40px;
    margin: 0px;
}

.flex-item:hover{
    display: block;
    background-color: #000;
    color: yellow;
}

.flex-item:active{
    background: #ffffff;
}
*/