
/* Grid */
.grid{
    display: grid;
    height: 100%;
    grid-template-rows: 5% 1fr 1fr 5%;
    grid-template-columns: auto; 
    overflow: scroll;
}

.grid-area-row-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-start: 3;
    grid-row-end: 4;
}

/* flex-stuff */
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-navbar{
    display: flex;
    flex-direction: row;
}

.flex-headliner{
    display: flex;
    align-self: fill;
    justify-content: center;
    background-color: green;     
    grid-row-start:2;
    grid-row-end:3;
}

.flex-item{
    height: 100%;
    padding: 0px;
    margin: 5px;
    justify-content: center;
}