/* flexbox */

.flex-container-row {
    display: flex;
    margin: 0px;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    margin: 0px;
    flex-direction: column;
}

/* align-items */

.flex-align-items-flex-start {
    align-items: flex-start;
}

.flex-align-items-flex-end {
    align-items: flex-end;
}

.flex-align-items-center {
    align-items: center
}

.flex-align-items-baseline {
    align-items: baseline;
}

.flex-align-items-strech {
    align-items: stretch;
}

/*  */