/*flex-container

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.flex-container2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
*/


/*flex-item

.flex-item{
    padding: 40px;
    margin: 0px;
}

.flex-item:hover{
    display: block;
    background-color: #000;
    color: yellow;
}

.flex-item:active{
    background: #ffffff;
}
*/


/*base*/

.viewport{
    height: 100vh;
    width: 100vw;
}

.body{
    margin:0px;
}

/* grid
.grid{
    display: grid;
    grid-template-rows: 10% auto 10%;
    grid-template-columns: 10% auto;
    height: 100%;
}

.grid-a{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-b{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
